#horario{
    position: absolute;
    left: 0%;
    right: 50%;
    width: 50%;
    
}
#lista{
    position: absolute;
    left: 50%;
    right: 0%;
    
}

div{
    height: 100%;
    display: flex;
}
table{
    border: solid black;
    margin: 10%;
    height: 41rem;
    width: 60rem;
}

th,td#recreo{
    top: 2%;
    border: solid red;
    height: 5%;
    
}
td{
    border: solid black;
    height: 10%;
}
.hora{
    border: solid green;
}