#horario{
    position: absolute;
    left: 0%;
    right: 50%;
    width: 50%;
    
}
#lista{
    position: absolute;
    left: 50%;
    right: 0%;
    
}

div{
    height: 100%;
    display: flex;
}
